

$colorPrincipal:#5CB9F2;
$colorSecundario:rgb(255, 255, 255);
$colorTerciario:rgb(000,000,00);
$colorMeta:rgba(102, 98, 98, 0.801);
$fontext: 'Cabin', sans-serif;

$font-saiz:(
    titulo: 4rem,
    subtitulo:3em,
    texto:1rem,
    meta:0.9rem,
);

