@import "_variables.scss";

.contenedor-videos{
    background-color: white;
    width: 100%;
        h1{
            text-align: center;
            font-family: $fontext;
            font-size: 3rem;
        }
            p{
                font-family:$fontext;
                color:$colorTerciario;
                text-align: center;
                font-size: map-get($font-saiz , 'texto' );
            }
}



.galeria {
    width: 100%;
    padding: 1rem;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width:1024px){
    .galeria{
        display: grid;
        grid-template-columns: 50rem;
        gap: 0.5rem;
    }

}

@media (max-width:768px){
    .galeria{
        display: grid;
        grid-template-columns: 50rem;
        gap: 0.5rem;
    }

}
@media (max-width:1024px){
    .galeria__item {
        width: 1rem;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}



@media (max-width:768px){
    .galeria__item {
        width: 1rem;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}


@media (max-width:600px){
    .galeria__item {
        width: 1rem;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}



@media (max-width:600px){
    .galeria__video {
      width: 160;
      height: 215;
    }

}