.header--position {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header--position {
    height: auto;
  }
}

@media (max-width: 768px) {
  .header--position {
    height: auto;
  }
}

.header--color {
  background-color: black;
}

.header__logo {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  font-family: 'Cabin', sans-serif;
  font-size: 25px;
  color: white;
  padding: 50px;
  cursor: pointer;
  display: none;
}

.mainNav__item {
  position: relative;
  display: inline-block;
}

.mainNav__link {
  display: inline;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-style: italic 600;
  color: white;
  text-decoration: none;
  padding: 6px;
  padding-left: 0px;
}

.mainNav__link:hover {
  color: #383838;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainNav__link::before {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #5cb8f277;
  position: absolute;
  left: 0;
  bottom: -12px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.mainNav__link:hover::before {
  width: 100%;
}

.mainNav__SubMenu {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.5;
  transition: opacity 1.5;
  z-index: 1;
}

.mainNav_subMenu__item {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-style: italic 600;
  color: white;
  text-decoration: none;
}

.mainNav__item:hover .mainNav__SubMenu {
  visibility: visible;
  opacity: 1;
}

#txtClient {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #5CB9F2;
}

.header__contactos {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contactos__item {
  display: inline;
  position: relative;
  margin-right: 20px;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
}

.heder_contactos--icono {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header__contactos {
    display: none;
  }
  .header__logo {
    display: none;
  }
}

.btnbuscar {
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: 8rem;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btnbuscar:hover {
  background-color: #5CB9F2;
}
/*# sourceMappingURL=style-header.css.map */